/******************************************
*  Author : Hardeep Kumar   
*  Created On : Thu May 14 2020
*  File : stylesheet.css
*
*  This Stylesheet contains all the Styling
*  for the Website
*******************************************/
.homePageBody {
  font-family: Hack, monospace;
  background: linear-gradient(270deg, #00af82, #0057c7, #da7303);
  background-size: 600% 600%;
  animation: bgGradAnim 20s ease infinite;
}
/* Animating body Background Gradient */
@keyframes bgGradAnim {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/* Change the Link Color Page-wide */
.linkGrad {
  background: linear-gradient(270deg, #00af82, #0057c7, #da7303);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  background-size: 200% auto;
  animation: aGradAnim 2s ease infinite;
}
/* Animating body Background Gradient */
@keyframes aGradAnim {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/* Header */
.header {
  background-color: whitesmoke;
  padding: 3px;
  font-size: 21px;
  background: linear-gradient(270deg, #b93131, #9ee4d8, #b93131);
  animation: headerGradAnim 4s ease infinite;
  background-size: 600% 600%;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.418),
    0 10px 20px 0 rgba(0, 0, 0, 0.274);
}

@keyframes headerGradAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.over_header {
  background-color: rgba(255, 255, 255, 0.863);
  padding: 20px 10px;
}

.header_right {
  float: right;
}

.header a {
  border-radius: 4px;
}

.header a:hover {
  background-color: blue;
  color: black;
}

.home {
  /* font-size: 21px; */
  /* padding: 10px; */
}

.blog {
  /* padding: 10px; */
}

.contact {
  /* padding: 10px; */
}

.about {
  /* padding: 10px; */
}

/* self class */
.welcome {
  background-color: aliceblue;
  background-size: auto;
}

.welcome_head {
  color: rgb(54, 53, 53);
  text-align: center;
}

.welcome_para {
  color: rgba(48, 47, 47, 0.932);
  text-align: center;
}

.self {
  background-color: aliceblue;
  background-size: auto;
  padding-block-end: 10px;
}

.self_head {
  text-align: center;
  color: rgba(48, 47, 47, 0.932);
}

.self_para {
  text-align: center;
  color: rgba(48, 47, 47, 0.932);
}

.self_button {
  border-style: none;
  background-color: rgb(27, 156, 113);
  color: white;
  padding: 9px 22px;
  border-radius: 4.5px;
  transition-duration: 0.5s;
  margin: auto;
  display: block;
  border-style: solid;
  border-color: transparent;
}

/* button hover */
.self_button:hover {
  background-color: rgb(163, 161, 161);
  color: rgb(65, 65, 65);
  padding: 9px 22px;
  border-color: #27a80d;
  transition: linear;
}
/* Set the Site Footer to Bottom */
.siteFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: beige;
}
