@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(../Hack/hack.css);
}

@font-face {
  font-family: 'Varela';
  src: url(../Varela/styles.css);
}

.typed-cursor {
  font-size: 18px;
  padding-top: 80px;
}

.heart_col {
  color: #e25555;
}
