
@font-face {
  font-family: 'Varela';
  src: url('Varela.eot?#iefix') format('embedded-opentype'),  url('Varela.woff') format('woff'), url('Varela.ttf')  format('truetype'), url('Varela.svg#Varela') format('svg');
  font-weight: normal;
  font-style: normal;
}
